div,html,img,body,a,h2,ul,li,header,section,img{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;color:black;}
img{border:0;}
.pointer{cursor: pointer;}
.hide{ display: none;}
.cur{display: block;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}